@font-face {
  font-family: 'Ranchers';
  src: url("/fonts/ranchers/Ranchers-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  src: url("/fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url("/fonts/raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}
