<div class="product"
     data-id="<%= @product["id"] %>"
     data-price="<%= @product["price"] %>"
     data-name="<%= @product["name"] %>">
  <h3><%= @product["name"] %></h3>
  <h4><%= @product["price"] %></h4>
  <p><%= @product["description"] %></p>
  <button class="add_to_cart">BUY!</button>
  <br>
  --------------------------------------------------------
</div>
